{% load bootstrap4 %}
{% load render_bundle from webpack_loader %}

{% bootstrap_css %}
<html>
  <head>
    <title>Template</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-light">
      <!-- Links -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}?next=/">
            Logout
          </a>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">
            Login
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container">
      {% block content %} {% endblock %}

      <div id="main"></div>
    </div>
    {% render_bundle 'main' %}
  </body>
</html>
